.file-list {
  border: 2px solid #ccc;
  width: 980px;
  margin: 0 auto;
  border-collapse: collapse;
}
.file-list td {
  border-top: 1px solid #ccc;
}
.file-name {
  padding: 4px;
  max-width: 180px;
}